body {
	margin: 0;

	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
	font-weight: 400;
	color: #272725;

	-webkit-font-smoothing: antialiased;
}

*,
*:before,
*:after {
	box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
}

h1 {
	display: block;
	font-family: 'Playfair Display', serif;
	font-size: 36px;
	font-weight: 400;
	line-height: 1.33;
	text-transform: uppercase;
	color: #ffffff;
	margin-bottom: 20px;
}

h2 {
	font-family: Playfair Display;
	font-style: normal;
	font-weight: 400;
	font-size: 24px;
	line-height: normal;
	text-transform: uppercase;
}

h3 {
	font-family: 'Playfair Display', serif;
	font-size: 18px;
	font-weight: 400;
	line-height: 1.33;
	text-transform: uppercase;
	color: #ffffff;
}

h4 {
	font-family: Montserrat, sans-serif;
	font-style: normal;
	font-weight: 700;
	font-size: 14px;
	text-transform: uppercase;
	color: #676767;
}

h5 {
	font-family: Playfair Display;
	font-weight: normal;
	font-size: 20px;
	text-transform: uppercase;
	color: #272725;
}

h6 {
	font-family: Montserrat, sans-serif;
	font-weight: 700;
	font-size: 15px;
	color: #272725;
}

p {
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
	font-weight: 400;
}

.p13 {
	font-size: 13px;
	line-height: 1.7;
	margin-bottom: 30px;
}

.text-f {
	color: #ffffff;
}

.text-b {
	color: #272725;
}

.text-center {
	text-align: center;
}


.text-uppercase {
	text-transform: uppercase;
}

.btn {
	cursor: pointer;
	padding: 18px 20px;
	background: #E9BE82;
	font-weight: bold;
	font-size: 14px;
	line-height: normal;
	text-align: center;
	text-transform: uppercase;
	color: #272725;
	display: inline-block;
	text-decoration: none;
	transition: background .3s linear;
}

.btn:hover {
	background: #D4C39D;
}

.container {
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 15px;
}

.contact-wrapper {
	margin-top: 60px;
	margin-bottom: 60px;
}

.margin-60 {
	margin-top: 60px;
	margin-bottom: 60px;
}

.img-full {
	margin: 30px auto;
}

@media(min-width: 1900px) {
	.img-full {
		max-width: 1900px;
		width: 100%;
	}
}

.img-full img {
	width: 100%;
}

/*--------------------HEADER---------------------*/
header {
	width: 100%;
	height: 100px;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1000;
	margin-top: 20px;
}

.header__inner {
	padding-bottom: 20px;
	position: relative;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header__inner:after {
	display: block;
	content: '';
	position: absolute;
	width: 100%;
	height: 1px;
	background-color: #ffffff;
	opacity: .08;
	left: 0;
	bottom: 0;
}

.nav {
	display: flex;
}

.nav__submenu {
	position: relative;
	margin-left: 30px;
	font-family: 'Playfair Display', serif;
	font-weight: 400;
	font-size: 14px;
	text-transform: uppercase;
	color: #FFFFFF;
}

.nav__submenu:after {
	content: url("../images/arrow-down.svg");
	display: inline-block;
	margin-left: 10px;
}

.nav__link {
	margin-left: 30px;
	font-family: 'Playfair Display', serif;
	font-weight: 400;
	font-size: 14px;
	text-transform: uppercase;
	color: #FFFFFF;
}

.btn__tel {
	display: flex;
	align-items: center;
	border: 1px solid #E9BE82;
	padding: 10px 13px;
	color: #ECD7A9;
	font-size: 14px;
	transition: all .3s linear;
	text-decoration: none;
	cursor: pointer;
}

.btn__tel:hover {
	background:  #E9BE82;
	color: #000000;
}

.btn__tel:hover .icon__tel {
	fill: #000000;
}

.icon__tel {
	margin-right: 9px;
	width: 24px;
	height: 24px;
	fill: #E9BE82;
}

/*-----------intro---------*/
.intro {
	background: url(../images/background.jpg) no-repeat center;
	background-size: cover;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
}

.intro p {
	color: #ffffff;
	line-height: 1.5;
	margin-bottom: 30px;
}

.reserv {
	max-width: 1170px;
	width: 80%;
	padding: 40px 50px 50px 70px;
	display: flex;
	height: 166px;
	background: #272725;
	align-items: center;
	position: absolute;
	top: 90%;
	right: 0;
	bottom: 0;
	left: 0;
	margin: 0 auto;
}

.reserv__item {
	margin-right: 20px;
	width: 30%;
	display: flex;
	flex-direction: column;
	color: #ffffff;
	font-style: normal;
	font-weight: normal;
	font-size: 13px;
}

.reserv__item--short {
	width: 20%;
}

.reserv p {
	color: #ffffff;
	font-style: normal;
	font-weight: normal;
	font-size: 13px;
}

.reserv .btn {
	border: none;
	height: 48px;
	margin-top: 42px;
}

.reserv__item input {
	height: 48px;
}

.section-1 {
	display: flex;
	margin-top: 125px;
}

.section-1 h1 {
	color: #272725;
}

.slick-prev:before, .slick-next:before {
	color: #000000;
}

.slick-dots li button:before {
	color: #E0E0E0;
	font-size: 10px;
	opacity: 1;

}

.slick-dots li.slick-active button:before {
	color: #E9BE82;
	opacity: 1;
}

.slider .prev, .slider .next {
	position: absolute;
	top: 50%;
	height: 26px;
	width: 26px;
	z-index: 1;
	cursor: pointer;
}

.prev, .next {
	position: absolute;
	width: 60px;
	height: 60px;
	cursor: pointer;
	z-index: 10;
}

.slider .prev {
	left: -30px;
}

.slider .next {
	right: -30px;
}

.section-2 {
	position: relative;
	display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 50px;
    grid-row-gap: 30px;
	margin-top: 100px;
}

.section-2__nav {
	position: absolute;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 0 30px;
	bottom: 27px;
	left: 27%;
}

.section-2__nav--item {
	width: 370px;
	height: 183px;
	position: relative;
}

.section-2__nav--item:after, .section-2__nav--item:before {
	content: "";
	width: 0;
	height: 0;
	display: block;
	background: #E9BE82;
	z-index: 15;
	position: absolute;
	top: 20px;
	right: 20px;
	transition: all .4s linear;
}

.section-2__nav--item:hover:after {
	width: 126px;
	height: 5px;
}

.section-2__nav--item:hover:before {
	content: "";
	width: 5px;
	height: 103px;
}

.section-2__nav--item img {
	position: absolute;
}

.section-2__nav--item--info {
	height: 100%;
    z-index: 10;
    position: relative;
    width: 100%;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: flex-end;
    flex-direction: column;
   	background: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,1));
   	cursor: pointer;
   	padding-bottom: 30px;
}

.section-2__nav--item--info p {
	font-family: Montserrat;
	font-weight: 400;
	font-size: 13px;
	color: #FFFFFF;
}

.section-2__nav--item--info:after {
	position: absolute;
	z-index: -1;
	content: "";
	width: 100%;
	height: 100%;
	background: rgb(0, 0, 0);
	opacity: 0;
  	transition: opacity .4s linear;
  	top: 0;
}

.section-2__nav--item--info:hover:after {
	opacity: .6;
}

.section-2__nav--item--info-more {
	transition: all .4s linear;
	overflow: hidden;
	max-height: 0;
}

.section-2__nav--item--info:hover .section-2__nav--item--info-more {
	overflow: visible;
	max-height: 100px;
}

.item--info__icon{
	width: 21px;
	height: 21px;
	fill: #E9BE82;
}

.section-2__text {
	padding-top: 15px;
}

.section-3 {
	background: url(../images/Group15.jpg) no-repeat center;
	background-size: cover;
	height: 420px;
	margin-top: 150px;
	display: flex;
    align-items: center;
    justify-content: center;
}

.section-3 .container {
	max-width: 550px;

}

.section-4 {
	margin-top: 60px;
}

.section-4 h1 {
	color: #272725;
}

.slider-2 .prev {
	bottom: 0;
	right: 60px;
}

.slider-2 .next {
	bottom: 0;
	right: 0;
}

.section-5 {
	margin-top: 70px;
}

.section-5 h2 {
	margin-top: 40px;
}

.accordion {
	max-width: 770px;
	margin: 40px auto 30px;
}

.accordion__item {
	margin-bottom: 8px;
}

.accordion__item.active .accordion__item--content {
	display: block;
}

.accordion__item.actives .accordion__item--trigger:after {
	transform: rotate(180deg);
}

.accordion__item--trigger {
	position: relative;
	background: #E4E4E4;
	padding: 20px;
	cursor: pointer;
}

.accordion__item--trigger:after, .accordion__item--trigger:before {
	content: "";
	display: block;
	width: 13px;
	background-color: #636F7E;
	height: 2px;
	position: absolute;
	top: 50%;
	right: 20px;
	z-index: 1;
}

.accordion__item--trigger:after {
	transform: rotate(90deg);
	transition: transform .3s linear;
}

.accordion__item--trigger:hover:after, .accordion__item--trigger:hover:before {
	background-color: #A3926C;
}

.accordion__item--content {
	background: #C9C9C9;
	padding: 20px;
	display: none;
}

.section-5 p, li {
	font-size: 13px;
	line-height: 1.7;
	margin-bottom: 18px;
}

.section-5 li {
	list-style-image: url(../images/list.svg);
	padding-left: 10px;
}

.list {
	margin-bottom: 47px;
}

.list__item {
	display: flex;
	align-items: center;
}

.list p {
	margin: 6px 0;
}

.list img {
	margin-right: 12px;
	height: 24px;
}

.map {
	position: relative;
	margin-top: 80px;
}

.trapezium {
	position: absolute;
	top: 0; left: 0; bottom: 0; right: 0;
	height: 0;
    width: 267px;
    border-top: 47px solid #535659;
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
    color: #ffffff;
    margin: 0 auto;
}

.trapezium span {
  margin-top: -35px;
  margin-left: 47px;
  position: absolute;
}

.footer {
	background-color: #272725;
	background-image: url(../images/footer.svg);
	background-position: center;
	background-repeat: no-repeat;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.footer__inner {
	max-width: 970px;
	display: grid;
	grid-template-rows: 1fr 1fr;
}

.footer__item-1:after, .footer__inner:after {
	content: "";
	display: block;
	width: 100%;
	height: 1px;
	background: #535659;
}

.footer__logo {
	margin: 35px auto;
	display: flex;
	justify-content: center;
}

.footer__item-2 {
	display: grid;
	grid-template-columns: 1.4fr 1fr;
	grid-gap: 0 130px;
	margin-bottom: 27px;
}

.contacts__icon {
	width: 24px;
	height: 24px;
	fill: #E9BE82;
	margin-right: 12px;
}

.contacts__item p {
	color: #ffffff;
	font-size: 13px;
	margin: 8px 0;
}

.contacts__item a {
	color: #E9BE82;
	font-size: 13px;
	margin: 8px 0;
}

.contacts {
	margin-top: 17px;
}

.contacts__item {
	display: flex;
	align-items: center;
}

.copyright {
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 13px;
	color: #676767;
	margin: 17px auto;
}

/*RESTAURANT PAGE*/

.rest__intro--contact {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	position: absolute;
    bottom: 18px;
    width: 1170px;
}

.rest__intro--contact:before {
	display: block;
    content: '';
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: #ffffff;
    opacity: .08;
    top: -15px; 
}

.rest__intro--contact-item {
	display: flex;
	align-items: center;
	justify-content: center;
}

.rest__intro--contact-item p {
	font-size: 13px;
	font-weight: 700;
	color: #ffffff;
	margin: 0;
}

.section-2--rest {
	grid-template-columns: 2fr 1fr;
}

.section-2--rest__graf {
	display: flex;
	flex-direction: column;
}

.section-2--rest__graf h5 {
	margin-bottom: 30px;
}

.rest__graf--title {
	font-weight: 700;
	font-size: 13px;
	color: #272725;
	margin-top: 10px;
}

.rest__graf--text {
	list-style-type: none;
	padding: 0;
}

.rest__graf--text li {
	display: flex;
	margin-bottom: 10px;
}

.rest__graf--text span {
	width: 50%;
	font-weight: 400;
	font-size: 13px;
	color: #676767;
}

.rest__graf--text p {
	margin: 0;
	width: 50%;
	font-weight: 400;
	font-size: 13px;
	color: #272725;
}

.rest-section-3 {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 0;
	margin: 120px 0 70px 0;
}

.rest-section-3 img {
	width: 100%;
}

.rest-section-4--inner {
	margin: 43px 0 0 0;
	display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.rest-section-4--item {
	width: 270px;
	height: 70px;
	background: #272725;
	display: flex;
    justify-content: center;
    align-items: center;
    transition: all .3s linear;
    text-decoration: none;
}

.rest-section-4--item:hover {
	background: #535659;
	cursor: pointer;
}

.rest-section-4--item:hover p {
	text-decoration: underline;
}

.rest-section-4--item-text h4 {
	color: #ffffff;
}

.rest-section-4--item-text p {
	color: #ffffff;
	margin: 3px 0;
	font-size: 13px;
}

.rest-section-4--item svg {
	fill: #ffffff;
}

.rest-section-5 {
	display: grid;
	grid-template-columns: 1.4fr 2fr;
	align-items: center;
}

.rest-section-5--text {
	display: flex;
	flex-direction: column;
    align-items: center;
    justify-content: center;
}

.rest-section-5--text .contacts {
	margin-bottom: 30px;
}

.rest-section-5--text p {
	color: #535659;
}

.rest-section-5--text svg, a {
	fill: #AD986B;
}

.rest-section-5--text a {
	color: #AD986B;
}

.rest-section-5--photo img {
	width: 100%;
}
/*GYM*/
.gym-section-5 {
	display: flex;
	align-items: center;
}

.gym-section-5--text {
	width:	40%; 
}

.gym_sect--text {
	list-style-type: none;
	padding: 0;
	display: flex;
	flex-wrap: wrap;
}

.gym_sect--text p {
	font-size: 14px;
	margin: 0;
}

.gym_sect--text span {
	font-style: normal;
	font-weight: 700;
	font-size: 36px;
}

.gym_sect--text sup {
	font-size: 19px;
	bottom: 15px;
    position: relative;
}

.gym_sect--text li {
	width: 50%;
}

.slider-3 {
	width: 60%;
}

.slider-3 .slide img {
	width: 100%;
}

.slider-3 .next {
	right: 0;
	bottom: 30px;
}

.slider-3 .prev {
	right: 60px;
	bottom: 30px;
}

.gym-section-6__inner {
	display: flex;
	flex-direction: column;
}

.gym-section-6__inner .btn {
	margin: 33px auto;
}

.gym-section-6__item {
	display: flex;
    justify-content: space-between;
    margin-top: 33px;
}

.gym-section-6__item p {
	margin: 8px 0 0 0;
}

.gym-section-6__left {
	display: flex;
}

.gym-section-6__left img {
	width: 50px;
	height: 50px;
	margin-right: 20px;
}

.gym-section-6__item--price {
	text-align: right;
}

.gym-section-6__item--price h6 {
	font-size: 25px;
}

.slider-5 {
	max-width: 740px;
	margin: 0 auto;
}

.slider-5 .slide img {
	object-fit: cover;
}

.slider-5 .slide {
	width: 93px;
	height: 92px;
}

.slider-5 .slide:not(:last-child) {
	margin-right: 15px;
}

.slider-5 img, .slider-4 .slide img {
	width: 100%;
	height: 100%;
}

.slider-4 {
	margin-top: 20px;
	margin-bottom: 30px;
}

.slider-4 .next {
	right: 0;
	bottom: 10px;
}

.slider-4 .prev {
	left: 0;
	bottom: 10px;
}

.slider-4 .slide img {
	max-height: 540px;
	height: 540px;
}

.double-slider {
	margin-top: 20px;
	margin-bottom: 60px;
}

.universal-left-right__row {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-column-gap: 70px;
    grid-row-gap: 70px;
    align-items: center;
}

.universal-left-right__row .universal-left-right__item:first-of-type {
	order: 1;
}

.universal-left-right__row:nth-child(2n) .universal-left-right__item:first-of-type{
	order: -1;
}